*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.header-nav,
.gallery,
.row {
    width: 90vw;
    max-width: 960px;
    margin: 0 auto;
}

.logo {
    text-align: center;
}

.column {
    float: left;
    padding: 0 5px;
    width: 25%;
    height: 150px;
}
.column img {
    max-width: 100%;
    max-height: 100%;
}

.row > .column img {
    cursor: pointer;
    transition: 0.3s;
}
.row > .column img:hover {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
/* The Modal (background) */
#modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 960px;
}
.numberText {
    color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.slide {
    height: 450px;
    width: 100%;
}
.slide img {
    width: 100%;
    height: 100%;
}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

.thumb {
    opacity: 0.3;
    cursor: pointer;
}
.active,
.thumb:hover {
    opacity: 1;
}
